<div align="center">
    <h1>Игра "Быки🐂 и коровы🐮"</h1>
    <div align="left" style="width: 600px;">
        <h3>Правила игры</h3>
        <p>Компьютер задумывает четыре различные цифры из 0,1,2,...9. Игрок делает ходы, чтобы узнать эти цифры и их порядок.</p>
        <p>Каждый ход состоит из четырёх цифр, 0 может стоять на первом месте.</p>
        <p>В ответ компьютер показывает число отгаданных цифр, стоящих на своих местах (число быков) и число отгаданных цифр, стоящих не на своих местах (число коров).</p>
        
        <h3>Пример</h3>
        <p>Компьютер задумал 0834.</p>
        <p>Игрок сделал ход 8134.</p>
        <p>Компьютер ответил: 2 быка (цифры 3 и 4) и 1 корова (цифра 8). </p>
    </div>

    <h2>Сыграем?</h2>
    <input style="margin: 5px;" #guessNumber type="text"  (keyup.enter)="playerMove(guessNumber.value)"/> 
    <button style="margin: 5px;" #playButton (click)="playerMove(guessNumber.value)">Сделать ход</button>
    <div #log>
    </div>
</div>
